body{
    text-align: center;

    background-color: rgba(224, 223, 209, 0.637), 167);
   
}

li { display: inline-block;}

.nav-container{
    display: inline-block;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0;
    border: 0;
    background-color: #333;
    list-style-type: none;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



.nav-item{
    padding: 15px;  
}

.nav-item a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-container :hover {
    background-color: gray;
}

h1{
    color: gray;
    text-shadow: 2px 2px 2px #000000;
}
.main {
    padding: 20px;
}
